extends layout

block content
    h1=title

    form(method='POST' action='')
        div.form-group
            label(for='first_name') First Name:
            input#first_name.form-control(type='text' placeholder='First name last' name='first_name' required='true' value=(undefined===company ? '' : company.first_name) )
            label(for='last_name') Last Name:
            input#last_name.form-control(type='text' placeholder='Last name (surname)' name='last_name' required='true' value=(undefined===company ? '' : company.last_name))
            label(for='tel_home') Home Telephone:
            input#tel_home.form-control(type='text' placeholder='2221012345' name='tel_home' required='true' value=(undefined===company ? '' : company.tel_home) )
            label(for='tel_mobile') Mobile Telephone:
            input#tel_mobile.form-control(type='text' placeholder='6912345678' name='tel_mobile' required='true' value=(undefined===company ? '' : company.tel_mobile))
            label(for='address') Address:
            input#address.form-control(type='text' placeholder='ermou 5' name='address' required='true' value=(undefined===company ? '' : company.address) )
            label(for='city') City:
            input#city.form-control(type='text' placeholder='Chalkida' name='city' required='true' value=(undefined===company ? '' : company.city))
            label(for='postal_code') Postal Code:
            input#postal_code.form-control(type='text' placeholder='34100' name='postal_code' required='true' value=(undefined===company ? '' : company.postal_code) )
            label(for='email') Email:
            input#email.form-control(type='text' placeholder='john@snow.com' name='email' required='true' value=(undefined===company ? '' : company.email))
            label(for='password') Password:
            input#password.form-control(type='text' name='password' required='true' )
            label(for='brand_name') Brand Name:
            input#brand_name.form-control(type='text' placeholder='Total PC' name='brand_name' value=(undefined===company ? '' : company.brand_name))
            label(for='tax_id') Tax id:
            input#tax_id.form-control(type='text' placeholder='123456789' name='tax_id' value=(undefined===company ? '' : company.tax_id) )
            label(for='profession') Profession:
            input#profession.form-control(type='text' placeholder='pc service' name='profession' value=(undefined===company ? '' : company.profession))
        div.form-group
            label(for='subscription_date') Subscription Date:
            input#subscription_date.form-control(type='date' name='subscription_date' value=(undefined===company ? '' : company.subscription_date) )
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
            for error in errors
                li!= error.msg