extends layout

block content

  h1 Customer: #{customer.name}
  p #{customer.email}
  p #{customer.date_of_birth}

  div(class="container-fluid")
    div(class="row")
      table(class="table table-striped")
        thead(class="thead-dark")
          tr
            th(scope="col") Type
            th(scope="col") Status
            th(scope="col") Description
            th(scope="col") Date Received
            th(scope="col") Date Delivered
            th(scope="col") Actions
        tbody
          each service in services
            tr
              td #{service.type}
              td #{service.status}
              td #{service.description}
              td #{service.date_received}
              td #{service.date_delivered}
              td
                a(href=(service.url)) Show
  
