extends layout

block content
  h1= title
  
  form(class="form-inline my-2 my-sm-0" method='GET' action="/app/customers/")
    input.form-control.mr-sm-2(type='text' value="tsi" placeholder='Antoni' name='search' )
    button.btn.btn-primary(type='submit') Search
  div(class="container-fluid")
    div(class="row")
      table(class="table table-striped")
        thead(class="thead-dark")
          tr
            th(scope="col") First name
            th(scope="col") Last name
            th(scope="col") Mobile phone
            th(scope="col") Home phone
            th(scope="col") Email
            th(scope="col") Actions
        tbody
          each customer in customer_list
            tr
              td #{customer.first_name}
              td #{customer.last_name}
              td #{customer.tel_mobile}
              td #{customer.tel_home}
              td #{customer.email}
              td
                a(href=(customer.url)) Show
          else
            p No customers
