extends layout

block content
  div(class="row")
    h1= title
  div(class="row")
    div(class="col-sm-3")
      div(class="card bg-c-blue")
        div(class="card-body")
          h4 Πελάτες
          h1(class="text-right") #{customers_count}
            span(class="far fa-user fa-lg " style="float:left")
    div(class="col-sm-3")
      div(class="card bg-c-blue")
        a(href="/app/customer/create" class="clearfix" style="color:black")
          div(class="card-body")
            i(class="far fa-user fa-lg ")
            h2(class="card-title") Εισαγωγή
            h5(class="card-subtitle") νέου πελάτη
    div(class="col-sm-3")
      div(class="card bg-c-blue")
        a(href="/app/service/create" class="clearfix" style="color:black")
          div(class="card-body")
            i(class="far fa-user fa-lg ")
            h2(class="card-title") Εισαγωγή
            h5(class="card-subtitle") Επισκευής
  