doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head
    body
        block content
            h1=title

            form(method='POST' action='/app/check_login')
                div.form-group
                    label(for='email') Email:
                    input#email.form-control(type='text' name='email' required='true' value="aaaaa@bbbbb.com" )
                    label(for='password') Password:
                    input#password.form-control(type='text' name='password' required='true' value="12341234" )
                button.btn.btn-primary(type='submit') Submit
            if errors
                ul
                    for error in errors
                        li!= error.msg