div(class='container-fluid')
    nav(class="navbar navbar-dark bg-dark")
        a(class="navbar-brand" href="#") PcService
        ul(class="nav ml-auto")
            if(email)
                li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") #{email}
                div(class="dropdown-menu dropdown-menu-right")
                    a(class="nav-link" href="/app/logout") Sign Out

            else
                li(class="nav-item")
                    a(class="nav-link text-light" href="/app/login") Sign in
