extends layout

block content

  h1 Service: #{service.incremental_number}
  p #{service.description}
  p #{service.date_received}
  button(class="btn" onclick="hideshow()")
    i(class="fa fa-angle-down")
  div(id="process_form" style="display:none;")
    form(method='POST' action='/app/serviceprocess/create')
      input(type="hidden" value=service._id required='true' name='service_id')
      div.form-group
        label(for='process_info') Process Info:
        input#process_info.form-control(type='text' name='process_info' required='true' )
      div.form-group
        label(for='date') Date:
        input#date.form-control(type='date' name='date' value=today )
      button.btn.btn-primary(type='submit') Submit

  div(class="container-fluid")
    div(class="row")
      table(class="table table-striped")
        thead(class="thead-dark")
          tr
            th(scope="col") Date
            th(scope="col") Process Info
            th(scope="col") Actions
        tbody
          each process in serviceprocesses
            tr
              td #{process.date}
              td #{process.process_info}
              td
                a(href=(service.url)) Show
          else
            p No Process Info

  script.
    function hideshow() {
      var x = document.getElementById("process_form");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  
