extends layout

block head
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css')
  
block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='incremental_number') Incremental Number:
      input#incremental_number.form-control(type='number' name='incremental_number' required='true' value=(next) )
    div.form-group
      label(for='customer') Customer:
      select#customer.form-control(class='selectpicker' type='select' data-live-search="true" data-show-subtext="true" placeholder='Select customer' name='customer' required='true' )
        for customer in customers
          option(value=customer._id data-subtext=customer.tel_home) #{customer.name}
    div.form-group
      label(for='type') Type:
      input#type.form-control(type='text' placeholder='e.g. laptop' name='type' required='true' value=(undefined===service ? '' : service.type) )
    div.form-group  
      label(for='accessories') Accessories:
      input#accessories.form-control(type='text' placeholder='e.g charger,bag' name='accessories' required='true' value=(undefined===service ? '' : service.accessories))
    div.form-group  
      label(for='status') Status:
      select#status.form-control( name='status' required='true' value=(undefined===service ? '' : service.status) )
        option(value="Received") Received
        option(value="In Process") In Process
        option(value="Done") Done
        option(value="To Be Delevered") To Be Delevered
        option(value="Delivered") Delivered
    div.form-group  
      label(for='cost') Cost:
      input#cost.form-control(type='text' name='cost' required='true' value=(undefined===service ? '' : service.cost))
    div.form-group  
      label(for='description') Description:
      input#description.form-control(type='text'  name='description' required='true' value=(undefined===service ? '' : service.description) )
    div.form-check  
      input#spare_part.form-check-input(type='checkbox' name='spare_part' value=(undefined===service ? '' : service.spare_part))
      label(for='spare_part' class="form-check-label") Spare part   
    div.form-group  
      label(for='date_received') Date Received:
      input#date_received.form-control(type='date' name='date_received' required='true' value=(undefined===service ? today : service.date_received) )
    div.form-group
      label(for='date_delivered') Date Delivered:
      input#date_delivered.form-control(type='date' name='date_delivered' value=(undefined===service ? '' : service.date_delivered))
      
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js')
