extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row")
      table(class="table table-striped")
        thead(class="thead-dark")
          tr
            th(scope="col") Type
            th(scope="col") Status
            th(scope="col") Date Received
            th(scope="col") Date Delivered
            th(scope="col") Actions
        tbody
          each service in service_list
            tr
              td #{service.type}
              td #{service.status}
              td #{service.date_received}
              td #{service.date_delivered}
              td
                a(href=(service.url)) Show
          else
            p No services
