div(class='container-fluid')
    div(class="row")
        div(class="col-sm-2")
            div(class="bg-light border-right" id="sidebar-wrapper")
                div(class="list-group list-group-flush")
                    a(href="/app/dashboard" class="list-group-item list-group-item-action bg-light") Dashboard
                    a(href="/app/services" class="list-group-item list-group-item-action bg-light") Services
                    a(href="/app/customers" class="list-group-item list-group-item-action bg-light") Customers
        div(class='col-sm-10')
            block content